<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test1" verbose="1">
    <test name="Test01" preserve-order="true" enabled="true">
        <classes>
            <class name="T01SignInSuccess"></class>
        </classes>
    </test>
    <test name="Test02" preserve-order="true" enabled="true">
        <classes>
            <class name="T02SignInFail"></class>
        </classes>
    </test>
    <test name="Test03" preserve-order="true" enabled="true">
        <classes>
            <class name="T03LogInSuccess"></class>
        </classes>
    </test>
    <test name="Test04" preserve-order="true" enabled="true">
        <classes>
            <class name="T04LogInFail"></class>
        </classes>
    </test>
    <test name="Test05" preserve-order="true" enabled="true">
        <classes>
            <class name="T05GetLoginInfo"></class>
        </classes>
    </test>
    <test name="Test06" preserve-order="true" enabled="true">
        <classes>
            <class name="T06ContactInfoUpdate"></class>
        </classes>
    </test>
    <test name="Test07" preserve-order="true" enabled="true">
        <classes>
            <class name="T07OpenNewAccount"></class>
        </classes>
    </test>
    <test name="Test08" preserve-order="true" enabled="true">
        <classes>
            <class name="T08LoanRequest"></class>
        </classes>
    </test>
</suite>